<%- include('../adminPartials/header') %>

    <main class="main-wrap">
        <section class="content-main">
            <div class="container mt-5">
                <h2 class="text-center">Edit Product</h2>

                <form action="/editProductData/<%=productData._id%>" method="POST" enctype="multipart/form-data" id="editProductValidation">
                    <!-- Your form content here -->

                    <div class="col-md-6 offset-md-3 text-center">
                        <!-- Center the form within a medium-sized column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <% if (productAlreadyExists) { %>
                                        <p class="error">Product already exists</p>
                                    <% } %>
                                    <input type="text" class="form-control" id="productName"
                                        value="<%= productData.productName %>" name="productName" />
                                </div>

                                   
                                    <div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="d-flex align-items-center mb-3">
                                                    <img src="/images/<%= productData.productImage1 %>" alt="image 1" id="preview1" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                    <button type="button" class="btn btn-danger delete-button" onclick="deleteImage(1, this)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <label for="productImage1" class="form-control" style="width: 100%; cursor: pointer;">Choose file</label>
                                                    <input name="productImage1" id="productImage1" type="file" accept="image/*" class="d-none" onchange="displayImage1()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="d-flex align-items-center mb-3">
                                                    <img src="/images/<%= productData.productImage2 %>" alt="image 2" id="preview2" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                    <button type="button" class="btn btn-danger delete-button" onclick="deleteImage(2, this)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <label for="productImage2" class="form-control" style="width: 100%; cursor: pointer;">Choose file</label>
                                                    <input name="productImage2" id="productImage2" type="file" accept="image/*" class="d-none" onchange="displayImage2()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="d-flex align-items-center mb-3">
                                                    <img src="/images/<%= productData.productImage3 %>" alt="image 3" id="preview3" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                    <button type="button" class="btn btn-danger delete-button" onclick="deleteImage(3, this)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <label for="productImage3" class="form-control" style="width: 100%; cursor: pointer;">Choose file</label>
                                                    <input name="productImage3" id="productImage3" type="file" accept="image/*" class="d-none" onchange="displayImage3()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                            
                                    <div class="input-group mb-3">
                                        <label for="productPrice">Product Price : &nbsp; &nbsp; &nbsp;</label>
                                        <input name="productPrice" type="number" class="form-control"
                                            value="<%= productData.productPrice %>" />
                                    </div>

                                    <div class="input-group mb-3">
                                        <label for="productStock">Product stock : &nbsp; &nbsp; &nbsp;</label>
                                        <input name="productStock" type="number" class="form-control"
                                            value="<%= productData.productStock %>" />
                                    </div>
                                    <span>Select Category</span>
                                    <select name="parentCategory" class="form-select"
                                        aria-label="Default select example">
                                        <% categories.forEach(function(category) { %>
                                            <option>
                                                <%= category.categoryName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <div class="input-group mb-3">
                                        <label for="productStock">Product description : &nbsp; &nbsp; &nbsp;</label>
                                        <input name="productDescription" type="text" class="form-control"
                                            value="<%= productData.productDescription %>" />
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="productStock">Product highlights : &nbsp; &nbsp; &nbsp;</label>
                                        <input name="productHighlight" type="text" class="form-control"
                                            value="<%= productData.productHighlight %>" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">
                                            Save changes
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </section>
        <!-- content-main end// -->
    </main>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
        integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
        integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <%- include('../adminPartials/footer') %>

    <script>

       // Function to delete image and hide delete button
       function deleteImage(imageNumber, button) {
            $("#preview" + imageNumber).hide();
            $(button).hide();
        }
 

        $("#editProductValidation").validate({
            rules:{
                productName:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/
                },
                productPrice:{
                    required:true,
                    pattern:/^\d+(-\d+)*$/
                },
                productStock:{
                    required:true,
                    pattern:/^\d+(-\d+)*$/
                },
                productDescription:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/

                },
                productHighlight:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/
                }
            }
        })



        function displayImage1() {
        const reader = new FileReader();
        reader.onload = () => {
            $("#preview1").attr("src", reader.result); // Update the src attribute of the preview image
            $("#preview1").show(); // Show the preview image
            $("#deleteButton1").show(); // Show the delete button
        };
        const file = document.querySelector("#productImage1").files[0];
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function displayImage2() {
        const reader = new FileReader();
        reader.onload = () => {
            $("#preview2").attr("src", reader.result); // Update the src attribute of the preview image
            $("#preview2").show(); // Show the preview image
            $("#deleteButton2").show(); // Show the delete button
        };
        const file = document.querySelector("#productImage2").files[0];
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function displayImage3() {
        const reader = new FileReader();
        reader.onload = () => {
            $("#preview3").attr("src", reader.result); // Update the src attribute of the preview image
            $("#preview3").show(); // Show the preview image
            $("#deleteButton3").show(); // Show the delete button
        };
        const file = document.querySelector("#productImage3").files[0];
        if (file) {
            reader.readAsDataURL(file);
        }
    }
    </script>

