<%- include('../userPartials/header') %>

<style>

    .container {
            padding-left: 5%;
            padding-right: 5%;
        }

        
    
</style>




        <div class="container profile-container">
            <hr>
            <h1 class="text-center">Edit Profile</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            
            <form id="editProfileValidation">
                <div class="form-group">
                  <label for="register-username">Name *</label>
                  <input
                    type="text"
                    class="form-control"
                    name="userName"
                    value="<%= userData.userName %>"
                    required
                  />
                </div>
                <!-- End .form-group -->
                <div class="form-group">
                  <label for="register-number">Phone Number *</label>
                  <input
                    type="number"
                    class="form-control"
                    name="phoneNumber"
                    value="<%= userData.phoneNumber %>"
                    required
                  />
                </div>
                <!-- End .form-group -->
                <div class="form-group">
                  <label for="register-number">Email *</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    value="<%=userData.email%>"
                    required
                    readonly
                  />
                </div>
                <!-- End .form-group -->
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <a href="/profile">
                        <div class="btn btn-danger">Cancel</div>
                    </a>
                </div>
                
            </form>
    
            <hr>
    
            <hr>
    
            
        </div>














        <%- include('../userPartials/footer') %>

    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
        <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required />
                <button class="btn btn-primary" type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            
                            <li><a href="/">Landing Page</a></li>
                            <li><a href="/userProducts">Products</a></li>
                            <li>
                                <a href="#">Profile</a>

                                <ul>
                                    <li><a href="/profile">User Profile </a></li>
                                    <li><a href="/profileChangePassword">Change Password</a></li>
                                    <li><a href="/addAddress">Add Address</a></li>
                                    <li><a href="/myAddress">My Address</a></li>
                                    <li><a href="//profile/userOrders">My Orders</a></li>
                                </ul>
                            </li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/cart">Cart</a></li>
                        </ul>
                    </li>
                </ul> 
            </nav><!-- End .mobile-nav -->
            <!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div>
            <!-- End .social-icons -->
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember" />
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div>
                                            <!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required />
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div>
                                            <!-- End .custom-checkbox -->
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                            </div>
                            <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                    </div>
                    <!-- End .form-box -->
                </div>
                <!-- End .modal-body -->
            </div>
            <!-- End .modal-content -->
        </div>
        <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>

<!-- molla/404.html  22 Nov 2019 10:04:04 GMT -->

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>

    $(editProfileValidation).validate({
        rules:{
            userName:{
                required:true,
                minlength:2,
                pattern:/^[a-zA-Z]+( [a-zA-Z]+)*$/
            },
            phoneNumber:{
                required:true,
                minlength:10,
                maxlength:10,
                pattern:/^\d+(-\d+)*$/
            },
            email:{
                required:true,
                email:true
            }
        },
        submitHandler:async function(editProfileValidation,e){
            e.preventDefault();
            const data={
                userName:editProfileValidation.userName.value,
                phoneNumber:editProfileValidation.phoneNumber.value,
                email:editProfileValidation.email.value
            }
            try {
                const response=await fetch("/editProfileData",{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify(data)
                })

                const value=await response.json();

                if(value.success && !value.generateOTP){
                    await Swal.fire({
                                        icon: 'success',
                                        title: 'Profile Successfully Updated',
                                        showConfirmButton: false,
                                        timer:4000
                                    })
                                    window.location.href="/profile"
                }else if(value.success && value.generateOTP){
                    await  Swal.fire({
                                        icon: 'success',
                                        title: 'OTP sent',
                                        showConfirmButton: false,
                                        timer:4000
                                    })
                                    window.location.href="/profileOTP"
                }

            } catch (error) {
                console.error(`error while fetching the edit profile details \n ${error}`);
            }
        }
    })

</script>

<script>

    function openMenu(){
      const body = document.getElementsByTagName("body")[0]
      const mobileMenuToggler = document.getElementById("mobileMenuToggler")
      body.classList.add("mmenu-active")
      mobileMenuToggler.classList.add("active")
    }
  
</script>

</html>