<%- include('../userPartials/header') %>


<style>
        

        .responsive-table th.active {
            background-color: #d9e4f0; /* Active column background color */
            color: #fff; /* Active column text color */
        }

        .responsive-table th {
            width: 100%;
            text-align: center;
            padding: 5px;
        }

        /* Responsive styles */
        @media (max-width: 767px) {
        .responsive-table {
            display: flex !important;
            justify-content: center;
            text-align: center;
            width: 100%;
            /* display: block; */
        }

        .responsive-table tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 10px;
        }

        .responsive-table th {
            width: 100%;
            text-align: center;
            padding: 5px;
        }

        .responsive-table th.active {
            background-color: #d9e4f0; /* Active column background color */
            color: #fff; /* Active column text color */
        }
    }

</style>





        <div class="container profile-container">
            <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title"><span>My Orders</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Orders</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        
            <table class="responsive-table" style="width: 100%;">
                <tr style="display: flex; justify-content: space-evenly;">
                    <th>
                        <a href="/profile">Profile</a>
                    </th>
                    <th>
                        <a href="/profileChangePassword">Change Password</a>
                    </th>
                    <th>
                        <a href="/addAddress">Add address</a>
                    </th>
                    <th>
                        <a href="/myAddress">My address</a>
                    </th>
                    <th class="active">
                        <a href="#">My Orders</a>
                    </th>
                </tr>
            </table>
            <hr>
            <div class="col-lg-12">
                <table class="table table-cart table-mobile" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Cancel/Return</th>
                        </tr>
                    </thead>
                        

                    <tbody>
                       <% orderData.forEach(data => { %>
                        <tr>
                            <td class="product-col" style="justify-content: space-evenly;">
                                <div class="product" style="justify-content: space-evenly;">
                                    <h3 class="product-title">
                                        <a href="#"> <%= data.orderNumber %> </a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="product-col" style="justify-content: space-evenly;">
                                <div class="product" style="justify-content: space-evenly;">
                                    <h3 class="product-title">
                                        <a href="#"> <%= data.formattedDate %> </a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="product-col" style="justify-content: space-evenly;">
                                <div class="product" style="justify-content: space-evenly;">
                                    <h3 class="product-title">
                                        <a href="#">₹ <%= data.grandTotalCost %> </a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="product-col" style="justify-content: space-evenly;">
                                <div class="product" style="justify-content: space-evenly;">
                                    <h3 class="product-title">
                                        <a href="#"> <%= data.orderStatus %> </a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="product-col" style="justify-content: space-evenly;">
                                <div class="product" style="justify-content: space-evenly;">
                                    <h3 class="product-title">
                                        <a class="btn btn-light" href="/profile/userSingleOrder<%= data._id %>"> Details </a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="product-col">
                                <% if (data.orderStatus==="Pending" || data.orderStatus==="Shipped") { %>
                                    <div class="product" style="justify-content: space-evenly;">
                                        <h3 class="product-title">
                                            <a class="btn btn-danger" href="/profile/cancelReturnOrderC<%= data._id %>"> Cancel </a>
                                        </h3><!-- End .product-title -->
                                    </div><!-- End .product -->
                                <% } else if (data.orderStatus==="Delivered"){ %>
                                    <div class="product" style="justify-content: space-evenly;">
                                        <h3 class="product-title">
                                            <a class="btn btn-primary" href="/profile/cancelReturnOrderR<%= data._id %>"> Return  </a>
                                        </h3><!-- End .product-title -->
                                    </div><!-- End .product -->
                                <% } %>
                                
                            </td>
                    
                        </tr>
                       <% }); %>                        
                    </tbody>

                </table><!-- End .table table-wishlist -->
            </div>
            <hr>
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% for (let index = 0; index < count; index++) { %>
                            <li class="page-item "><a class="page-link" href="/profile/userOrders?page=<%= index+1 %>"><%= index+1 %></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            
    
        </div>


        <%- include('../userPartials/footer') %>

    </div>


<!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
        <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div id="mobileMenuContainer" class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close" id="close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required />
                <button class="btn btn-primary" type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            
                            <li><a href="/">Landing Page</a></li>
                            <li><a href="/userProducts">Products</a></li>
                            <li>
                                <a href="#">Profile</a>

                                <ul>
                                    <li><a href="/profile">User Profile </a></li>
                                    <li><a href="/profileChangePassword">Change Password</a></li>
                                    <li><a href="/addAddress">Add Address</a></li>
                                    <li><a href="/myAddress">My Address</a></li>
                                    <li><a href="//profile/userOrders">My Orders</a></li>
                                </ul>
                            </li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/cart">Cart</a></li>
                        </ul>
                    </li>
                </ul> 
            </nav><!-- End .mobile-nav -->
            <!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div>
            <!-- End .social-icons -->
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember" />
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div>
                                            <!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required />
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required />
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div>
                                            <!-- End .custom-checkbox -->
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                            </div>
                            <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                    </div>
                    <!-- End .form-box -->
                </div>
                <!-- End .modal-body -->
            </div>
            <!-- End .modal-content -->
        </div>
        <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


</html>